<%= form_with model: @subject do |f| %>
    <div class="modal-body px-5 py-4">
      <div class='row mb-4'>
        <div class= 'col-6'>
          <%= f.label :name, "Name" %>
          <%= f.text_field :name ,placeholder: "Enter Subject's Name",class:"form-control" %>
        </div>
      </div>
    </div>
  <div class="modal-footer">
    <%= f.submit "Save Subject", class:"btn btn-secondary" %>
    <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Close</button>
  </div>
  <% end %>
  